<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title class="blockquote-footer">List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"/>   
</head>
<body>
   <form name="userForm">
            <div class="form-group col-md-1">
                <label for="id">Id:</label>
                <input class="form-control" name="id" />
            </div>
            <div class="form-group col-md-2">
                <label for="dateofBirth">DateofBirth:</label>
                <input type="date" class="form-control" name="dateofBirth">
            </div>
            <div class="form-group col-md-2">
                <label  for="married">Married:</label>
                <select name="married" class="form-control"> 
                <option value="0">Married</option>
                <option value="1">Unmarried</option>
                </select>
            </div>
             <div class="form-group col-md-3">
                <label for="phone">Phone:</label>
                <input class="form-control" name="phone"/>
            </div>
            <div class="form-group col-md-3">
                <label for="salary">Salary:</label>
                <input class="form-control" name="salary"/>
            </div>
            <div class="panel-body">
                <button type="submit" id="submit" class="btn btn-success btn-lg btn-block" onclick="reloadPage()">Add</button>
            </div>
        </form>
    <table class="table table-condensed table-striped  col-md-6">
    <thead><tr><th>Id</th><th>DateofBirth</th><th>Married</th><th>Salary</th></tr></thead>
    <tbody>
    </tbody>
    </table>

<script>

function reloadPage(){
            location.reload(true);
        }

async function GetList() {
            const response = await fetch("https://localhost:44366/api/Manage", {
                method: "GET",
                headers: { "Accept": "application/json" },
            });
            if (response.ok === true){ 
                 const anno = await response.json();
                console.log(anno);
                 let rows = document.querySelector("tbody"); 
                anno.forEach(an => {
                    rows.append(row(an));
                });
            }
        };
async function Create(dateofBirth, married, phone, salary) {
 
            const response = await fetch("https://localhost:44366/api/Manage", {
                method: "POST",
                headers: { "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify({
                    DateofBirth: dateofBirth,
                    Married: married,
                    Phone: phone,
                    Salary: salary
                })
            });
            if (response.ok === true) {
                const an = await response.json();
                document.querySelector("tbody").append(row(an));
            }
        }


    function row(an) {
 
            const tr = document.createElement("tr");
            tr.setAttribute("data-rowid", an.Id);
 
            const idTd = document.createElement("td");
            idTd.append(an.Id);
            tr.append(idTd);
 
            const nameTd = document.createElement("td");
            nameTd.append(an.DateofBirth);
            tr.append(nameTd);

             const makeTd = document.createElement("td");
            makeTd.append(an.Married);
            tr.append(makeTd);

             const salTd = document.createElement("td");
            salTd.append(an.Salary);
            tr.append(salTd);
             
            const linksTd = document.createElement("td");

            const details = document.createElement("a");
            details.setAttribute("data-id", an.Id);
            details.setAttribute("style", "cursor:pointer;padding:3px;");
            details.setAttribute("class", "btn btn-primary");
            details.append("Phone");
            details.addEventListener("click", e => {
 
                e.preventDefault();
                alert(an.Phone);
            });
            linksTd.append(details);
 
            const editLink = document.createElement("a");
            editLink.setAttribute("data-id", an.Id);
            editLink.setAttribute("style", "cursor:pointer;padding:3px;");
            editLink.setAttribute("class", "btn btn-warning");
            editLink.append("Change");
            editLink.addEventListener("click", e => {
 
                e.preventDefault();
                GettoForm(an.Id);
            });
            linksTd.append(editLink);

            const removeLink = document.createElement("a");
            removeLink.setAttribute("data-id", an.Id);
            removeLink.setAttribute("style", "cursor:pointer;padding:3px;");
            removeLink.setAttribute("onclick", "reloadPage();");
            removeLink.setAttribute("class", "btn btn-danger");
            removeLink.append("Delete");
            removeLink.addEventListener("click", e => {
 
                e.preventDefault();
                Delete(an.Id);
                             
            });
            linksTd.append(removeLink);

            tr.appendChild(linksTd);
 
            return tr;
        }

async function Delete(Id) {
            const response = await fetch("https://localhost:44366/api/Manage/" + Id, {
                method: "DELETE",
                headers: { "Accept": "application/json", "Content-Type": "application/json"  },
                body: JSON.stringify({
                    Id: Id
                })
            });
            if (response.ok === true) {
                const an = await response.json();
                document.querySelector("tr[data-rowid='" + an.Id + "']").remove();         
            }
        }
async function Edit(id, dateofBirth, married, phone, salary) {
            const response = await fetch("https://localhost:44366/api/Manage/" + id, {
                method: "PUT",
                headers: { "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify({
                    Id: parseInt(id, 10),
                    DateofBirth: dateofBirth,
                    Married: married,
                    Phone: phone,
                    Salary: salary
                })
            });
            if (response.ok === true) {
                const an = await response.json();
                reset();
                document.querySelector("tr[data-rowid='" + an.Id + "']").replaceWith(row(an));
            }
        }

async function GettoForm(id) {
            const response = await fetch("https://localhost:44366/api/Manage/" + id, {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            if (response.ok === true) {
                const an = await response.json();
                const form = document.forms["userForm"];
                form.elements["id"].value = an.Id;
                form.elements["dateofBirth"].value = an.DateofBirth;
                form.elements["married"].value = an.Married;
                form.elements["phone"].value = an.Phone;
                form.elements["salary"].value = an.Salary;
            }
        }

 document.forms["userForm"].addEventListener("submit", e => {
            e.preventDefault();
            const form = document.forms["userForm"];
            const id = form.elements["id"].value;
            const dateofBirth = form.elements["dateofBirth"].value;
            const married = form.elements["married"].value;
            const phone = form.elements["phone"].value;
            const salary = form.elements["salary"].value;
            if(id == 0)
                Create(dateofBirth, married, phone, salary);
            else 
                Edit(id, dateofBirth, married, phone, salary);
        });

        GetList();
</script>